extends layout

include mixins/_transactionDay

block content
    section.content-header
        - const currencySymbol = budget.wallets[0].currency ? h.currencies[budget.wallets[0].currency].symbol : ''
        h1 #{budget.name}
            if budget.description || budget.wallets[0].currency
                small #{budget.description} - #{budget.wallets[0].currency}
        a.btn.btn-default.btn-flat.header-right(type="button" href=`/budget/${budget.id}/edit`) Edit

    section.content
        //- - const total = wallet.transactions.reduce((res, el) => res += el.amount, 0);
        .row
            .col-xs-12
                //- h2.text-center Balance: #{total} #{currencySymbol}
                h2.text-center Balance: 
        .row
            .col-md-2
                if !h.isEmpty(calendar)
                    .box.box-widget
                        .box.box-success.box-solid
                            .box-header.with-border
                                h3.box-title Calendar
                                .box-tools.pull-right
                                    button.btn.btn-box-tool(type="button" data-widget="collapse" data-target="#box1")
                                        i.fa.fa-minus
                            .box-body.t-calendar.text-center
                                ul
                                    for year in calendar
                                        li.t-calendar-year
                                            a(href=`/budget/${budget._id}?y=${year.year}`) #{year.year}&nbsp;
                                                i.fa.fa-angle-double-right
               
            .col-md-6.col-md-offset-1
                if h.isEmpty(budgetYear)
                    h4.text-center No budget found for #{query}.
                else
                    .box.box-success.box-budget-month
                        .box-header
                            h3.box-title #{query}
                        .box-body.no-padding
                            table.table
                                tbody
                                    tr
                                        th Month
                                        th Saved
                                        th Budget 
                                        th Difference
                                        th Total Running Savings
                                    for month in budgetYear    
                                        tr(data-month=month.month data-year=month.year)
                                            td #{h.months[month.month - 1]}
                                            td This is how much you saved for the month #{currencySymbol}
                                            td
                                                span #{month.amount}
                                                input.hidden(type="number" value=month.amount)
                                                | &nbsp;#{currencySymbol}
                                            td This is savings - budget for the month #{currencySymbol}
                                            td This is how much you saved - budget starting from budget.start to budget.end #{currencySymbol}
                                    