extends layout

include mixins/_transactionDay

block content
    section.content-header
        - const currency = !h.isEmpty(budget.wallets) ? budget.wallets[0].currency : null
        - const currencySymbol = currency ? h.currencies[currency].symbol : ''
        h1 #{budget.name}
            if budget.description || currency
                small #{budget.description} - #{currency}
        a.btn.btn-default.btn-flat.header-right(type="button" href=`/app/budget/${budget.id}/edit`) Edit

    section.content
        - const budgetTotal = budgetYear.reduce((res, el) => res += el.amount, 0);
        .row
            .col-xs-12
                h2.text-center #{transactionYear ? transactionYear.amountYear.toFixed(2) : 0}#{currencySymbol} saved of #{budgetTotal.toFixed(2)}#{currencySymbol} planned in #{query}
        .row
            .col-md-2
                if !h.isEmpty(calendar)
                    .box.box-widget
                        .box.box-success.box-solid
                            .box-header.with-border
                                h3.box-title Calendar
                                .box-tools.pull-right
                                    button.btn.btn-box-tool(type="button" data-widget="collapse" data-target="#box1")
                                        i.fa.fa-minus
                            .box-body.calendar.text-center
                                ul
                                    for year in calendar
                                        li.calendar-year
                                            a(href=`/app/budget/${budget._id}?y=${year.year}`) #{year.year}&nbsp;
                                                i.fa.fa-angle-double-right
               
            .col-md-6.col-md-offset-1
                if h.isEmpty(budgetYear)
                    h4.text-center No budget found for #{query}.
                else
                    .box.box-success.box-budget-month(data-budget=budget.id)
                        .box-header
                            h3.box-title #{query}
                        .box-body.no-padding
                            table.table
                                tbody
                                    tr
                                        th Month
                                        th Saved<br>
                                            small How much you saved
                                        th Budget<br>
                                            small How much you planned to save
                                        th Difference<br>
                                            small If greater than 0, you are outperforming!
                                    for month in budgetYear
                                        tr(data-month=month.id)
                                            - const saved = transactionYear ? transactionYear.months.filter(t => t.month === month.month).reduce((res, t) => { res += t.amountMonth; return res;}, 0) : 0;
                                            td #{h.months[month.month - 1]}
                                            td #{h.isEmpty(saved) ? 0 : saved.toFixed(2)} #{currencySymbol}
                                            td
                                                span #{month.amount} #{currencySymbol}&nbsp;&nbsp;
                                                    i.fa.fa-pencil(data-widget="budgetMonth" data-trigger=month.id)
                                                .month-action.hidden(id=month.id)
                                                    input(type="number" name="monthAmount" value=month.amount)
                                                    .month-action-icons
                                                        i.fa.fa-check.save
                                                        i.fa.fa-close.cancel
                                            td #{(saved - month.amount).toFixed(2)} #{currencySymbol}                                    