extends layout

include mixins/_wallet

block content
    section.content-header 
        h1 Dashboard

    section.content
        .col-sm-6
            .box.box-success.box-solid
                .box-header.with-border
                    h3.box-title My Wallets
                    .box-tools.pull-right
                        button.btn.btn-box-tool(type="button" data-widget="collapse")
                            i.fa.fa-minus
                .box-body  
                    if !h.isEmpty(wallets)
                        each wallet in wallets
                            +wallet(wallet)
                        - const total = h.getTotalByCurrency(wallets)
                        div
                            h3.text-right Total: 
                                if h.isEmpty(total)
                                    | -
                                else
                                    for c, index in total
                                        - const currencySymbol = c.currency ? h.currencies[c.currency].symbol : ''
                                        span #{c.amount}#{currencySymbol}
                                        if index < total.length -1
                                            |  | 
                        a.btn.btn-primary.btn-flat(href="/wallet") Add Wallet
                    else
                        .text-center
                            h3 You don't have any wallet. Create one!
                            a.btn.btn-primary.btn-flat(href="/wallet") Add Wallet
        .col-sm-6
            .box.box-success.box-solid
                .box-header.with-border
                    h3.box-title My Budgets
                    .box-tools.pull-right
                        button.btn.btn-box-tool(type="button" data-widget="collapse")
                            i.fa.fa-minus
                .box-body  
                    if !h.isEmpty(budgets)
                        each budget in budgets 
                            - const saved = h.getSavedAmountPerBudget(budget.wallets)
                            a.budget(href=`/budget/${budget._id}`)
                                p 
                                    span Name: #{budget.name} | 
                                    span Total Planned: #{budget.total} | 
                                    span Total Saved: #{saved}
                    else
                        .text-center
                            h3 You don't have any saving budget. Create one!
                            a.btn.btn-primary.btn-flat(href="/budget") Create Budget