extends layout

include mixins/_wallet

block content
    section.content-header 
        h1 Dashboard

    section.content
        .col-sm-6
            .box.box-success.box-solid
                .box-header.with-border
                    h3.box-title My Wallets
                    .box-tools.pull-right
                        button.btn.btn-box-tool(type="button" data-widget="collapse")
                            i.fa.fa-minus
                .box-body
                    div
                        p.text-center Create a Wallet and add Transactions to it to keep track of your expenses.
                    hr
                    if !h.isEmpty(wallets)
                        each wallet in wallets
                            +wallet(wallet)
                        - const total = h.getTotalByCurrency(wallets)
                        div
                            h3.text-right Total: 
                                if h.isEmpty(total)
                                    | -
                                else
                                    for c, index in total
                                        - const currencySymbol = c.currency ? h.currencies[c.currency].symbol : ''
                                        span #{c.amount}#{currencySymbol}
                                        if index < total.length -1
                                            |  | 
                        a.btn.btn-primary.btn-flat(href="/app/wallet") Add Wallet
                    else
                        .text-center
                            h3 You don't have any wallet. Create one!
                            a.btn.btn-primary.btn-flat(href="/app/wallet") Add Wallet
        .col-sm-6
            .box.box-success.box-solid
                .box-header.with-border
                    h3.box-title My Budgets
                    .box-tools.pull-right
                        button.btn.btn-box-tool(type="button" data-widget="collapse")
                            i.fa.fa-minus
                .box-body
                    div
                        p.text-center Budgets can help you stay on track with your savings. Create a Budget, set the amount of money you'd like to save and start saving!
                        p.text-center Each Budget can keep track of the Transactions of different Wallets, as long as all Wallets share the same currency.
                        p.text-center When you create a Budget you can choose the default monthly amount you'd like to save. You can then tweak and change the amount for every single month.
                    hr 
                    if !h.isEmpty(budgets)
                        each budget in budgets 
                            - const saved = h.getSavedAmountPerBudget(budget.wallets)
                            - const currencySymbol = !h.isEmpty(budget.wallets) ? h.currencies[budget.wallets[0].currency].symbol : ''
                            a.budget(href=`/app/budget/${budget._id}`)
                                h3 
                                    span #{budget.name} 
                                    span You saved #{saved}#{currencySymbol} out of #{budget.total}#{currencySymbol} planned
                            hr
                    else
                        .text-center
                            h3 You don't have any saving budget. Create one!
                            a.btn.btn-primary.btn-flat(href="/app/budget") Create Budget