include mixins/_flashes

doctype html
html
  head
    title= `${title || ''} | ${h.siteName.text}`
    //- link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    include meta
    include styles
  block body
    body.hold-transition.skin-green.sidebar-mini(class=user ? '' : 'sidebar-collapse')
      .wrapper
        include includes/header

        if user
          include includes/sidebar
        
        .content-wrapper(class=user ? '' : 'no-sidebar no-user')
          block messages
            +flashes(locals.flashes)
          
          block content
          
        footer.main-footer.text-center(class=user ? '' : 'no-user') 
          include includes/footer
      
        include includes/control-sidebar

        .control-sidebar-bg

      include scripts