extends layout

include mixins/_transactionDay

block content
    section.content-header 
        - const currencySymbol = wallet.currency ? h.currencies[wallet.currency].symbol : ''
        h1 #{wallet.name}
            if wallet.description || wallet.currency
                small #{wallet.description} - #{wallet.currency}
        a.btn.btn-default.btn-flat.header-right(type="button" href=`/wallet/${wallet.id}/edit`) Edit

    section.content
        - const years = h.getYears(wallet.transactions)
        - const total = wallet.transactions.reduce((res, el) => res += el.amount, 0);
        .row
            .col-xs-12
                h2.text-center Total: #{total} #{currencySymbol}
        .row
            .col-md-3
                if !h.isEmpty(years)
                    .box.box-widget
                        .box.box-success.box-solid
                            .box-header.with-border
                                h3.box-title Calendar
                                .box-tools.pull-right
                                    button.btn.btn-box-tool(type="button" data-widget="collapse" data-target="#box1")
                                        i.fa.fa-minus
                            .box-body(id="transactionCalendar")
                                ul
                                    for months, year in years
                                        li #{year}
                                            ul
                                                for month in months.sort().reverse()
                                                    li 
                                                        a(href="#" data-widget="transaction" data-month=month                                                           data-year=year) #{h.months[month - 1].substring(0, 3)}

            .col-md-6
                for month in totalPerMonth
                    .month(data-year=month.date.year data-month=month.date.month)
                        h4.text-center #{h.months[month.date.month - 1].substring(0, 3)}: #{month.amount} #{currencySymbol}
                        - const transactions = h.getTransactionsByMonth(wallet.transactions, month.date.month)
                        for day in transactions
                                | #{day.amount}
                                +transactionDay(day)
                            
                button.btn.btn-primary.btn-flat(type="button" data-toggle="modal" data-target="#transaction-modal") Add Transaction

                include includes/transactionModal

                .modal.fade.in(id="edit-categories")
                    .modal-dialog
                            .modal-content
                                .modal-header
                                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                                        span(aria-hidden="true") ×
                                    h4.modal-title Edit Categories
                                    p Don't forget to save to apply the changes
                                form(id="new-category")
                                    .modal-body
                                        .input-group.margin
                                            input.form-control(type="text" name="new-category" placeholder="Add New Category")
                                            span.input-group-btn
                                                button.btn.btn-success.btn-flat(type="submit") Add
                                form(method="POST" action="/categories" id="categories-form")
                                    .modal-body
                                        ul.categories-list(id="categories-list")
                                            - const categories = user.categories.sort()
                                            for category in categories
                                                li(data-value=category)
                                                    i.fa.fa-remove(onclick="this.parentElement.remove()") &nbsp;
                                                    span=`${category}`
                                    
                                    .modal-footer
                                        button.btn.btn-default.btn-flat.pull-left(type="button" data-dismiss="modal") Close
                                        button.btn.btn-primary.btn-flat(type="submit") Save