extends layout

block content
    section.content-header 
        h1 #{wallet.name}
            if wallet.description || wallet.currency
                small #{wallet.description} - #{wallet.currency}

    section.content
        .col-xs-6.col-xs-offset-3
            - const transactions = wallet.transactions
            if transactions && transactions.length
                each transaction in transactions
                    p #{transaction.date} - #{transaction.amount}#{h.currencies[wallet.currency].symbol}
                button.btn.btn-primary(type="button" data-toggle="modal" data-target="#add-transaction-modal") Add Transaction
            else
                .text-center
                    h2 You don't have any transaction. Add one!
                    button.btn.btn-primary(type="button" data-toggle="modal" data-target="#add-transaction-modal") Add Transaction

            .modal.fade.in(id="add-transaction-modal")
                .modal-dialog
                    form(method="POST" action="/transaction")
                        .modal-content
                            .modal-header
                                button.close(type="button" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") ×
                                h4.modal-title Add New Transaction
                            .modal-body
                                    .form-group.hidden
                                        input(name="wallet" value=wallet.id)
                                    .form-group
                                        label.label-has-action(for="category") Category
                                            button.btn.btn-default.btn-xs(type="button" data-dismiss="modal" data-toggle="modal" data-target="#edit-categories") Edit Categories
                                        select(name="category").form-control
                                            option(disabled selected value) -- select an option -- 
                                            for category in  user.categories.sort()
                                                option(value=category) #{category} 
                                    .form-group
                                        label(for="amount") Amount
                                        input.form-control(type="number" step="any" name="amount" required placeholder="Enter an amount")
                                    .form-group
                                        label(for="date") Date
                                        input.form-control(type="date" name="date" value=h.moment().format('YYYY-MM-DD'))
                                    .form-group
                                        label(for="time") Time
                                        input.form-control(type="time" name="time" value=h.moment().format('HH:mm'))
                                    .form-group
                                        label(for="location") Location
                                        input.form-control(type="text" id="address" name="location[address]")
                                        input.hidden(type="text" id="lat" name="location[coordinates][1]")
                                        input.hidden(type="text" id="lng" name="location[coordinates][0]")
                                    .form-group
                                        label(for="description") Description
                                        input.form-control(type="text" rows="5" name="description" placeholder="Enter a description")
                                    .form-group
                                        input(type="checkbox" name="recurrent")
                                        label(for=recurrent) Is it recurrent?
                                    .form-group
                                        input(type="checkbox" name="shouldCount" checked) 
                                        label(for=shouldCount) Consider in calculations?
                                        
                            .modal-footer
                                button.btn.btn-default.pull-left(type="button" data-dismiss="modal") Close
                                button.btn.btn-primary(type="submit") Add

            .modal.fade.in(id="edit-categories")
                .modal-dialog
                        .modal-content
                            .modal-header
                                button.close(type="button" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") ×
                                h4.modal-title Edit Categories
                                p Don't forget to save to apply the changes
                            form(id="new-category")
                                .modal-body
                                    .input-group.margin
                                        input.form-control(type="text" name="new-category" placeholder="Add New Category")
                                        span.input-group-btn
                                            button.btn.btn-success.btn-flat(type="submit") Add
                            form(method="POST" action="/categories" id="categories-form")
                                .modal-body
                                    ul.categories-list(id="categories-list")
                                        - const categories = user.categories.sort()
                                        for category in categories
                                            li(data-value=category)= `${category} `
                                                span.fa.fa-remove(onclick="this.parentElement.remove()")
                                
                                .modal-footer
                                    button.btn.btn-default.pull-left(type="button" data-dismiss="modal") Close
                                    button.btn.btn-primary(type="submit") Save