mixin budgetForm(budget = {}, wallets = user.wallets)
    .box.box-success
        .box-header.with-border
            h3.box-title Create Saving Budget
        form(id="budget-form" method="POST" action=`/budget/${budget._id || ''}` data-budget=budget._id)
            .box-body
                .form-group
                    label(for="name") Name
                    input.form-control(type="text" name="name" required placeholder="Enter a name" value=budget.name)
                .form-group
                    label(for="description") Description
                    textarea.form-control(type="text" rows="5" name="description" placeholder="Enter a description") #{budget.description}
                .form-group
                    label(for="amount") Monthly Amount
                    input.form-control(type="number" step=".01" name="amount" required placeholder="How much do you want to save each month?" value=budget.amount)
                .form-group
                    label(for="start-date") Start Date
                    input.form-control(type="date" name="start" value=budget.start ? h.moment(budget.start).format('YYYY-MM-DD') : undefined)
                .form-group
                    label(for="end-date") End Date
                    div.has-error.hidden(id="date-error")
                        p
                            small.help-block
                                | The End Date cannot be before the Start Date.
                    input.form-control(type="date" name="end" value=budget.end ? h.moment(budget.end).format('YYYY-MM-DD') : undefined)
                .form-group
                    label(for="wallets") Wallets
                    div.has-error.hidden(id="quantity-error")
                        p
                            small.help-block
                                | Please, make sure to select at least one wallet.
                    div.has-error.hidden(id="currency-error")
                        p
                            small.help-block
                                | Selected wallets must share the same currency, as it is not be possible to calculate cross-currency budgets.
                    - const budgetWalletIds = budget.wallets ? budget.wallets.reduce((res, w) => { res += `${w._id},`; return res }, '') : ''
                    for wallet in wallets
                        if !wallet.excludeFromBudget
                            - const currencySymbol = wallet.currency ? h.currencies[wallet.currency].symbol : ''
                            .checkbox
                                label(for="wallets")
                                    input(type="checkbox" onclick="checkWallets();" value=wallet._id name="wallets" data-wallet=wallet._id data-currency=wallet.currency checked=budgetWalletIds && budgetWalletIds.indexOf(wallet._id) >= 0)
                                    | #{wallet.name} - #{currencySymbol}

            .box-footer
                if !h.isEmpty(budget)
                    a.btn.btn-danger.btn-flat(type="button" data-action="delete" id="deleteBudget") Delete 
                        span.fa.fa-trash-o
                button.btn.btn-primary.btn-flat.pull-right.exclude(type="submit") Submit