mixin transactionDay(day)
    - const currencySymbol = wallet.currency ? h.currencies[wallet.currency].symbol : ''
    - const date = h.moment(day.date)
    - const transactions = h.orderByHour(day.transactions)
    .box.box-success.box-transactions-day
        .box-header.with-border
            h3.box-title= date.format('DD MMM [-] dddd')
            h3.box-title.pull-right #{day.amountDay} #{currencySymbol}
        .box-body
            for transaction, index in transactions
                - const time = h.moment(transaction.timestamp).format('hh:mm') 
                div.t-body(id=transaction._id)
                    if transaction.excludeFromTotal
                        span.t-amount.text-muted #{transaction.amount} #{currencySymbol}
                    else if transaction.amount >= 0
                        span.t-amount.t-income #{transaction.amount} #{currencySymbol}
                    else
                        span.t-amount.t-outcome #{transaction.amount} #{currencySymbol}
                    div.pull-right.text-right
                        strong #{transaction.category}
                    div
                        if transaction.description
                            i.fa.fa-comment
                            span &nbsp;#{transaction.description} - 
                                i.fa.fa-clock-o 
                                span &nbsp;#{time}
                        else
                            i.fa.fa-clock-o 
                            span &nbsp;#{time}
                            
                    if transaction.location['address']
                        div
                            small.text-muted 
                                i.fa.fa-map-marker
                                span &nbsp;#{transaction.location['address']}
                    if transaction.excludeFromTotal
                        div
                            small.text-muted
                                i.fa.fa-close 
                                span &nbsp;Not included in total calculations
                    if transaction.excludeFromBudget
                        div
                            small.text-muted
                                i.fa.fa-close 
                                span &nbsp;Not included in budgets
                    if index < day.transactions.length - 1
                        hr