mixin walletForm(wallet = {})
    .box.box-success
        .box-header.with-border
            h3.box-title New Wallet
        form(method="POST" action=`/wallet/${wallet._id || ''}` data-wallet=wallet._id)
            .box-body
                .form-group
                    label(for="name") Name
                    input.form-control(type="text" name="name" required placeholder="Enter a name" value=wallet.name)
                .form-group
                    label(for="description") Description
                    textarea.form-control(type="text" rows="5" name="description" placeholder="Enter a description") #{wallet.description}
                .form-group
                    label(for="currency") Currency
                    select(name="currency").form-control
                        if wallet.currency
                            option(disabled value) -- select an option -- 
                            - const currencies = h.currencies
                            for c, i in currencies
                                if wallet.currency === i
                                    option(value=i selected)= `${i} ${c.label} - ${c.symbol}`
                                else
                                    option(value=i)= `${i} ${c.label} - ${c.symbol}`
                        else
                            option(disabled selected value) -- select an option -- 
                            - const currencies = h.currencies
                            for c, i in currencies
                                option(value=i)= `${i} ${c.label} - ${c.symbol}` 
                .form-group
                    input(type="checkbox" name="excludeFromTotal" checked=!h.isEmpty(wallet) ? wallet.excludeFromTotal : false) 
                    label(for=excludeFromTotal) Exclude this wallet from totals?
            .box-footer
                if !h.isEmpty(wallet)
                    a.btn.btn-danger.btn-flat(type="button" data-action="delete" id="deleteWallet") Delete 
                        span.fa.fa-trash-o
                button.btn.btn-primary.btn-flat.pull-right(type="submit") Submit