mixin wallet(wallet)
    if wallet
        a.wallet(href=`/wallet/${wallet._id}`)
            .wallet-content
                .wallet-content-header
                    h3.wallet-name #{wallet.name}
                        small.wallet-description #{wallet.description ? ' - ' + wallet.description : ''}
                    if wallet.excludeFromTotal
                        div
                            small.text-muted
                                i.fa.fa-close 
                                span &nbsp;Not included in total calculations
                    if wallet.excludeFromBudget
                        div
                            small.text-muted
                                i.fa.fa-close 
                                span &nbsp;Not included in budgets
                - const total = wallet.transactions.filter(t => !t.excludeFromTotal).reduce((res, el) => res += el.amount, 0);
                - const currencySymbol = wallet.currency ? h.currencies[wallet.currency].symbol : ''
                if wallet.excludeFromTotal
                    h3.wallet-total.text-muted #{total} #{currencySymbol}
                else
                    if total >= 0
                        h3.wallet-total.income #{total} #{currencySymbol}
                    else
                        h3.wallet-total.outcome #{total} #{currencySymbol}
        hr