mixin wallet(wallet)
    if wallet
        a.wallet(href=`/wallet/${wallet._id}`)
            .wallet-content
                h3.wallet-name #{wallet.name}
                    small.wallet-description #{wallet.description ? ' - ' + wallet.description : ''}
                - const total = wallet.transactions.reduce((res, el) => res += el.amount, 0);
                - const currencySymbol = wallet.currency ? h.currencies[wallet.currency].symbol : ''
                if total >= 0
                    h3.wallet-total.income #{total} #{currencySymbol}
                else
                    h3.wallet-total.outcome #{total} #{currencySymbol}
        hr